/* Adding a fonts manually, because, well, why not?*/

/* IBM Plex Mono Regular */
@font-face {
    font-family: "IBM Plex Mono Regular";
    src: url('../fonts/ibm-plex-mono/eot/IBMPlexMono-Regular.eot');
    src: url('../fonts/ibm-plex-mono/eot/IBMPlexMono-Regular.eot') format('embedded-opentype'),
    url('../fonts/ibm-plex-mono/ttf/IBMPlexMono-Regular.ttf') format('truetype'),
    url('../fonts/ibm-plex-mono/woff/IBMPlexMono-Regular.woff') format('woff'),
    url('../fonts/ibm-plex-mono/woff2/IBMPlexMono-Regular.woff2') format('woff2');
}

/* IBM Plex Mono Medium */
@font-face {
    font-family: "IBM Plex Mono Medium";
    src: url('../fonts/ibm-plex-mono/eot/IBMPlexMono-Medium.eot');
    src: url('../fonts/ibm-plex-mono/eot/IBMPlexMono-Medium.eot') format('embedded-opentype'),
    url('../fonts/ibm-plex-mono/ttf/IBMPlexMono-Medium.ttf') format('truetype'),
    url('../fonts/ibm-plex-mono/woff/IBMPlexMono-Medium.woff') format('woff'),
    url('../fonts/ibm-plex-mono/woff2/IBMPlexMono-Medium.woff2') format('woff2');
}

/* IBM Plex Mono Italic */
@font-face {
    font-family: "IBM Plex Mono Italic";
    src: url('../fonts/ibm-plex-mono/eot/IBMPlexMono-Italic.eot');
    src: url('../fonts/ibm-plex-mono/eot/IBMPlexMono-Italic.eot') format('embedded-opentype'),
    url('../fonts/ibm-plex-mono/ttf/IBMPlexMono-Italic.ttf') format('truetype'),
    url('../fonts/ibm-plex-mono/woff/IBMPlexMono-Italic.woff') format('woff'),
    url('../fonts/ibm-plex-mono/woff2/IBMPlexMono-Italic.woff2') format('woff2');
}

/* IBM Plex Mono Bold */
@font-face {
    font-family: "IBM Plex Mono Bold";
    src: url('../fonts/ibm-plex-mono/eot/IBMPlexMono-Bold.eot');
    src: url('../fonts/ibm-plex-mono/eot/IBMPlexMono-Bold.eot') format('embedded-opentype'),
    url('../fonts/ibm-plex-mono/ttf/IBMPlexMono-Bold.ttf') format('truetype'),
    url('../fonts/ibm-plex-mono/woff/IBMPlexMono-Bold.woff') format('woff'),
    url('../fonts/ibm-plex-mono/woff2/IBMPlexMono-Bold.woff2') format('woff2');
}

body {
    background-color: rgb(174, 238, 235);
    font-size: 1em;
    font-family: "IBM Plex Mono Regular", monospace;
}

hr {
    border-color: rgb(255, 189, 48);
}

img {
    height: 500px;
    width: auto;
}